---
const { } = Astro.props;
---

<section id="contact" class="bg-white dark:bg-gray-800">
    <div class="overflow-hidden py-16 px-4 sm:px-6 lg:px-8 lg:pb-20 lg:pt-10">
    <!-- Wrapper -->
    <div class="relative mx-auto max-w-xl">
        <svg class="absolute left-full translate-x-1/2 transform" width="404" height="404" fill="none" viewBox="0 0 404 404" aria-hidden="true">
        <defs>
            <pattern id="85737c0e-0916-41d7-917f-596dc7edfa27" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
            <rect x="0" y="0" width="4" height="4" class="text-gray-200 dark:text-white dark:opacity-50" fill="currentColor" />
            </pattern>
        </defs>
        <rect width="404" height="404" fill="url(#85737c0e-0916-41d7-917f-596dc7edfa27)" />
        </svg>
        <svg class="absolute right-full bottom-0 -translate-x-1/2 transform" width="404" height="404" fill="none" viewBox="0 0 404 404" aria-hidden="true">
        <defs>
            <pattern id="85737c0e-0916-41d7-917f-596dc7edfa27" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
            <rect x="0" y="0" width="4" height="4" class="text-gray-200 dark:text-white dark:opacity-50" fill="currentColor" />
            </pattern>
        </defs>
        <rect width="404" height="404" fill="url(#85737c0e-0916-41d7-917f-596dc7edfa27)" />
        </svg>
        <div class="text-center">
        <h2 class="mb-4 text-3xl font-extrabold text-gray-800/80 dark:text-gray-200/80 md:text-4xl lg:w-full">Like what you see?</h2>
        <p class="text-lg font-medium text-gray-800/70 dark:text-gray-300/70 md:text-xl md:leading-relaxed">Is your business longing to have a fast and simple website to call its own? Let's make something amazing together!</p>
        </div>
        <div class="mt-12">
        <form action="#" method="POST" class="grid gap-y-6">
            <div class="sm:col-span-2">
            <label for="first-name" class="mb-2 block text-sm font-medium text-gray-700/70 dark:text-gray-300/70">Your Name</label>
            <div class="mt-1">
                <input type="text" name="first-name" id="first-name" autocomplete="given-name" class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 placeholder:text-gray-400 focus:border-teal-500 focus:ring-teal-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-teal-500 dark:focus:ring-teal-500" placeholder="Ali bin Abu" />
            </div>
            </div>
            <div class="sm:col-span-2">
            <label for="email" class="mb-2 block text-sm font-medium text-gray-700/70 dark:text-gray-300/70">E-mail</label>
            <div class="mt-1">
                <input id="email" name="email" type="email" autocomplete="email" class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 placeholder:text-gray-400 focus:border-teal-500 focus:ring-teal-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-teal-500 dark:focus:ring-teal-500" placeholder="youremail@gmail.com" />
            </div>
            </div>
            <div class="sm:col-span-2">
            <label for="phone-number" class="mb-2 block text-sm font-medium text-gray-700/70 dark:text-gray-300/70">Phone No.</label>
            <div class="relative mt-1 rounded-md shadow-sm">
                <input type="text" name="phone-number" id="phone-number" autocomplete="tel" class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 placeholder:text-gray-400 focus:border-teal-500 focus:ring-teal-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-teal-500 dark:focus:ring-teal-500" placeholder="(+60) 12 345 6789" />
            </div>
            </div>
            <div class="sm:col-span-2">
            <label for="message" class="mb-2 block text-sm font-medium text-gray-700/70 dark:text-gray-300/70">Message</label>
            <div class="mt-1">
                <textarea id="message" name="message" rows="4" class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 placeholder:text-gray-400 focus:border-teal-500 focus:ring-teal-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-teal-500 dark:focus:ring-teal-500" placeholder="Let's go for a drink!"></textarea>
            </div>
            </div>
            <div class="sm:col-span-2">
            <button type="submit" class="w-full rounded-lg bg-teal-400 px-5 py-2.5 text-center text-base font-medium text-white hover:bg-teal-600 focus:outline-none focus:ring-4 focus:ring-teal-300 dark:bg-teal-600 dark:hover:bg-teal-400 dark:focus:ring-teal-600">Let's talk</button>
            </div>
        </form>
        </div>
    </div>
    </div>
</section>
