---
const { } = Astro.props;
---

<section id="home" class="dark:bg-gray-800">
    <header class="container relative mx-auto px-4 py-24 lg:px-8 lg:py-48 xl:max-w-7xl">
    <div class="">
        <h2 class="text-lg font-medium text-gray-800/80 dark:text-gray-300/70 md:mx-auto md:text-center md:text-xl md:leading-relaxed">Hello! My name is Kamal Redzwan</h2>
        <h1 class="mb-4 w-[70%] text-4xl font-extrabold text-gray-800/80 dark:text-gray-200/80 md:mx-auto md:w-[70%] md:text-center md:text-5xl lg:w-[60%] xl:w-[55%]">I craft extraordinary digital experiences</h1>
        <h4 class="w-[60%] text-lg font-medium text-gray-800/80 dark:text-gray-300/70 md:mx-auto md:text-center md:text-xl md:leading-relaxed lg:w-[52%]">I am a web designer based in Kuala Lumpur, Malaysia with an affinity for simple and elegant design.</h4>
    </div>
    </header>
</section>
