---
const { } = Astro.props;
import portfolio from '../assets/images/portfolio-1.png'
---

<section id="projects" class="bg-white dark:bg-gray-800">
    <!-- Section Header -->
    <div class="container mx-auto px-4 py-16 lg:px-8 lg:pb-20 lg:pt-10 xl:max-w-7xl">
      <div class="mb-10 mt-16 flex flex-col space-y-8 lg:flex-row lg:items-center lg:justify-between lg:space-y-0">
        <div class="md:pt-8 lg:w-9/12">
          <h2 class="mb-4 text-3xl font-extrabold text-gray-800/80 dark:text-gray-200/80 md:text-4xl">Selected Projects</h2>
          <p class="w-[65%] text-lg font-medium text-gray-800/70 dark:text-gray-300/70 md:text-xl md:leading-relaxed xl:w-[50%]">Probably the section you are most interested in. <br />Have fun exploring some of my selected projects and maybe come back afterwards?</p>
        </div>
        <!-- <div>
          <button type="button" class="rounded-lg bg-teal-400 px-5 py-2.5 text-center text-base font-medium text-white hover:bg-teal-600 focus:outline-none focus:ring-4 focus:ring-teal-300 dark:bg-teal-600 dark:hover:bg-teal-400 dark:focus:ring-teal-600">See All Projects</button>
        </div> -->
      </div>
      <!-- END: Section Header -->

      <!-- Card -->
      <div class="mb-10 flex rounded-lg bg-teal-100/30 dark:border-2 dark:border-gray-400 dark:bg-teal-100/5">
        <div class="flex-auto p-14 pb-0">
          <div class="flex flex-wrap lg:flex-nowrap">
            <div class="mb-10 justify-start lg:w-1/3 xl:mt-10">
              <div class="mb-1 text-sm font-bold uppercase tracking-wider text-teal-400 dark:text-teal-500">Web Design</div>
              <h3 class="mb-2 text-lg font-bold text-gray-800/80 dark:text-gray-200/80">Project Title</h3>
              <p class="mb-6 leading-relaxed text-gray-800/70 dark:text-gray-400">Maecenas faucibus mollis interdum sed posuere consectetur est at lobortis. Scelerisque id ligula porta felis euismod semper. Fusce dapibus tellus cursus.</p>
              <a href="#" class="hover more font-bold tracking-wide text-teal-400">See Project</a>
            </div>
            <div class="justify-end lg:ml-16 lg:w-2/3">
              <figure>
                <img src={portfolio} alt="" />
              </figure>
            </div>
          </div>
        </div>
      </div>
      <!-- END: Card -->

      <!-- Card -->
      <div class="mb-10 flex rounded-lg bg-teal-100/30 dark:border-2 dark:border-gray-400 dark:bg-teal-100/5">
        <div class="flex-auto p-14 pb-0">
          <div class="flex flex-wrap lg:flex-nowrap">
            <div class="mb-10 justify-end lg:order-2 lg:w-1/3 xl:mt-10">
              <div class="mb-1 text-sm font-bold uppercase tracking-wider text-teal-400 dark:text-teal-500">Web Design</div>
              <h3 class="mb-2 text-lg font-bold text-gray-800/80 dark:text-gray-200/80">Project Title</h3>
              <p class="mb-6 leading-relaxed text-gray-800/70 dark:text-gray-400">Maecenas faucibus mollis interdum sed posuere consectetur est at lobortis. Scelerisque id ligula porta felis euismod semper. Fusce dapibus tellus cursus.</p>
              <a href="#" class="hover more font-bold tracking-wide text-teal-400">See Project</a>
            </div>
            <div class="justify-start lg:mr-16 lg:w-2/3">
              <figure>
                <img src={portfolio} alt="" />
              </figure>
            </div>
          </div>
        </div>
      </div>
      <!-- END: Card -->

      <div class="lg:grid lg:grid-cols-2 lg:grid-rows-1 lg:gap-10">
        <!-- Card -->
        <div class="mb-10 flex rounded-lg bg-teal-100/30 dark:border-2 dark:border-gray-400 dark:bg-teal-100/5">
          <div class="flex-auto p-14 pb-0">
            <div class="flex flex-wrap">
              <div class="mb-10 xl:mt-10">
                <div class="mb-1 text-sm font-bold uppercase tracking-wider text-teal-400 dark:text-teal-500">Web Design</div>
                <h3 class="mb-2 text-lg font-bold text-gray-800/80 dark:text-gray-200/80">Project Title</h3>
                <p class="mb-6 leading-relaxed text-gray-800/70 dark:text-gray-400">Maecenas faucibus mollis interdum sed posuere consectetur est at lobortis. Scelerisque id ligula porta felis euismod semper. Fusce dapibus tellus cursus.</p>
                <a href="#" class="hover more font-bold tracking-wide text-teal-400">See Project</a>
              </div>
              <div>
                <figure>
                  <img src={portfolio} alt="" />
                </figure>
              </div>
            </div>
          </div>
        </div>
        <!-- END: Card -->

        <!-- Card -->
        <div class="mb-10 flex rounded-lg bg-teal-100/30 dark:border-2 dark:border-gray-400 dark:bg-teal-100/5">
          <div class="flex-auto p-14 pb-0">
            <div class="flex flex-wrap">
              <div class="mb-10 xl:mt-10">
                <div class="mb-1 text-sm font-bold uppercase tracking-wider text-teal-400 dark:text-teal-500">Web Design</div>
                <h3 class="mb-2 text-lg font-bold text-gray-800/80 dark:text-gray-200/80">Project Title</h3>
                <p class="mb-6 leading-relaxed text-gray-800/70 dark:text-gray-400">Maecenas faucibus mollis interdum sed posuere consectetur est at lobortis. Scelerisque id ligula porta felis euismod semper. Fusce dapibus tellus cursus.</p>
                <a href="#" class="hover more font-bold tracking-wide text-teal-400">See Project</a>
              </div>
              <div>
                <figure>
                  <img src={portfolio} alt="" />
                </figure>
              </div>
            </div>
          </div>
        </div>
        <!-- END: Card -->
      </div>
    </div>
  </section>
